
a.bootstrap_breadcrump_item {
  color:Gray;
}

div.bootstrap_breadcrump_item:hover{
  cursor:pointer;
  text-decoration:underline;
  color:DarkSlateBlue;
}

div.bootstrap_breadcrump_item {
  position:relative;
  float:left;
  padding-top:2px;
  padding-left:8px;
  font-weight: bold;
}

div.bootstrap_breadcrump_full_name {
  display:inline-block;
  height:40px;
  padding-top:2px;
  padding-left:10px;
  font-weight: bold;
}
