
div.btn_abs_xs_groups_1{
  width:16px;
}

div.btn_abs_xs_groups_2{
  width:32px;
}

div.btn_abs_xs_groups_3{
  width:48px;
}

div.btn_abs_xs_group_1{
  position:absolute;
  width:15px;
  height:30px;
  left:0px;
  top:0px;
}

div.btn_abs_xs_group_2{
  position:absolute;
  width:15px;
  height:30px;
  left:15px;
  top:0px;
}

div.btn_abs_xs_group_3{
  position:absolute;
  width:15px;
  height:30px;
  left:30px;
  top:0px;
}

button.btn_abs:focus{
  outline:5px!important;
}

button.btn_abs_top_middle{
  position:absolute!important;
  padding:0px;
  margin:0px!important;
  height:15.5px;
  width:16px;
  top:0px;
  left:0px;
  border-radius:0px;
}

button.btn_abs_bottom_middle{
  position:absolute!important;
  padding:0px;
  margin:0px!important;
  height:15.5px;
  width:16px;
  top:14.5px;
  left:0px;
  border-radius:0px;
}

button.btn_abs_top_right{
  position:absolute!important;
  padding:0px;
  margin:0px!important;
  height:15.5px;
  width:16px;
  top:0px;
  left:0px;
  border-radius:0px 3px 0px 0px;
}

button.btn_abs_bottom_right{
  position:absolute!important;
  padding:0px;
  margin:0px!important;
  height:15.5px;
  width:16px;
  top:14.5px;
  left:0px;
  border-radius:0px 0px 3px 0px;
}

