
.panel-default_light {
  border-color: #ddd;
}
.panel-default_light > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default_light > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default_light > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default_light > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
