
.panel-default_dark {
  border-color: #838383 !important;
}
.panel-default_dark > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #838383 !important;
}
.panel-default_dark > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #838383 !important;
}
.panel-default_dark > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333 !important;
}
.panel-default_dark > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #838383 !important;
}