
div.bootstrap_popover{
  margin:-2px -4px -8px 0px;
  overflow:visible;
}

img.bootstrap_popover{
  position:absolute;
  float:left;
  width:21px;
  margin-left:-10px;
}

p.bootstrap_popover_heading{
  position:relative;
  float:left;
  white-space:pre;
  top:3.5px;
  margin:1px 0px 10px 14px;
}

p.bootstrap_popover_content{
  position:relative;
  white-space:pre;
  top:3px;
  left:8px;
}

span.bootstrap_popover{
  position:relative;
  color:firebrick;
  font-weight:bold;
  font-size:10px;
  top:-1px;
}
