
div.realtime_zoom_display{
  position:relative;
  z-index:2;
  float:left;
  height:10px;
}

p.realtime_zoom_display{
  width:42px;
  text-align:center;
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
  background-color:#eeeeee;
  margin:0px;
  padding:0px 3px;
  color:#555;
}
