
div.scroll_list_frame{
  position:absolute;
  inset:0px 0px 0px 0px;
  overflow:hidden;
}

div.scroll_list_view{
  position:absolute;
  inset:0px 16px 0px 0px;
  overflow-y:hidden;
  overflow-x:scroll;
}

div.scroll_list_content{
  transform-origin:0 0;
  width:-moz-fit-content;
  width:fit-content;
  min-width:100%;
}

div.scroll_list_scroller{
  position:absolute;
  right:0px;
  top:0px;
  bottom:0px;
  width:16px;
  overflow-y:scroll;
  overflow-x:hidden;
}

div.scroll_list_fake{
  position:absolute;
  transform-origin:0 0;
  width:1px;
  visibility:hidden;
}

div.scroll_list_hide{
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  width:16px;
  z-index:1;
}
