
ul.basic_nav_tabs_dark{
  border-bottom:1px solid #838383;
}

ul.basic_nav_dark{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  background-color:#1e1e1e;
}

ul.basic_nav_tabs_dark > li{
  float:left;
  margin-bottom:-1px;
}

ul.basic_nav_dark > li{
  position:relative;
  display:block;
}

ul.basic_nav_tabs_dark > li > a{
  margin-right:2px;
  line-height:1.42857143;
  border:1px solid transparent;
  border-radius:4px 4px 0 0;
}

ul.basic_nav_dark > li > a{
  position:relative;
  display:inline-block;
  padding:10px 15px;
}

ul.basic_nav_tabs_dark > li.active > a, ul.basic_nav_tabs_dark > li.active > a:hover, ul.basic_nav_tabs_dark > li.active > a:focus{
  color:#d4d4d4;
  cursor:default;
  background-color:#333;
  border:1px solid #838383;
  border-bottom-color:transparent;
}

ul.basic_nav_dark:before{
  display:table;
  content:" ";
}

ul.basic_nav_dark:after{
  clear:both;
  display:table;
  content:" ";
}

div.basic_tab_content_dark {
  overflow:hidden;
  border-left:1px solid #838383;
  border-right:1px solid #838383;
  border-bottom:1px solid #838383;
  border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
  background-color:#1e1e1e;
}

div.tab_pan_scroll{
  overflow:auto;
}

div.basic_tab_content_dark > div.tab_pane {
  display:none;
}

div.basic_tab_content_dark > div.active {
  display:block;
}

a.basic_tab_link_dark{
  color:Gray;
}

a.basic_tab_link_dark:hover{
  cursor:pointer !important;
  text-decoration:none !important;
  color:LightBlue !important;
}
