
ul.basic_nav_tabs_light{
  border-bottom:1px solid #ddd;
}

ul.basic_nav_light{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}

ul.basic_nav_tabs_light > li{
  float:left;
  margin-bottom:-1px;
}

ul.basic_nav_light > li{
  position:relative;
  display:block;
}

ul.basic_nav_tabs_light > li > a{
  margin-right:2px;
  line-height:1.42857143;
  border:1px solid transparent;
  border-radius:4px 4px 0 0;
}

ul.basic_nav_light > li > a{
  position:relative;
  display:inline-block;
  padding:10px 15px;
}

ul.basic_nav_tabs_light > li.active > a, ul.basic_nav_tabs_light > li.active > a:hover, ul.basic_nav_tabs_light > li.active > a:focus{
  color:#555555;
  cursor:default;
  background-color:WhiteSmoke;
  border:1px solid #ddd;
  border-bottom-color:transparent;
}

ul.basic_nav_light:before{
  display:table;
  content:" ";
}

ul.basic_nav_light:after{
  clear:both;
  display:table;
  content:" ";
}

div.basic_tab_content_light {
  overflow:hidden;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
}

div.tab_pan_scroll{
  overflow:auto;
}

div.basic_tab_content_light > div.tab_pane {
  display:none;
}

div.basic_tab_content_light > div.active {
  display:block;
}

a.basic_tab_link_light{
  color:Gray;
}

a.basic_tab_link_light:hover{
  cursor:pointer !important;
  text-decoration:none !important;
  color:DarkSlateBlue !important;
}
